:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --primary-white-color: #ffffff;
}

/* !Колір основного тексту #757575
колір заголовка + навігація #212121
колір героя #FFFFFF
колір посилання #2196F3 #757575
колір футера rgba(255, 255, 255, 0.6)
  колір фону #E5E5E5
  колір фону команди #F5F4FA
    колір футер фон #2F303A 
 */