.work-title {
    display: block;
    text-align: center;
    margin-bottom: 50px;
    font-size: 36px;
    color: var(--title-text-color);
}

.our-features {
    display: flex;
    gap: 30px;
}

.section-what-we-do {
    padding-bottom: 94px;
}
